title:               Cubny
email:               cubny@duck.com
description: >- # this means to ignore newlines until "baseurl:"
  I'm Cubny! This is where I explore my ideas and share them publicly 
  so others can read and provide feedback to help me improve my thinking.
exclude:             ['_includes/notes_graph.json', '_posts']
# You may need to change the base URL depending on your deploy configuration.
baseurl:             ''
url:                 "http://cubny.page.dev"
github_username:     cubny 


# If you are using a host that cannot resolve URLs that do
# not end with .html (such as Neocities), set this to 'true'.
use_html_extension:  false

# Set to `true` to open non-internal links in new tabs, or
# set to `false` to open non-internal links in current tab.
open_external_links_in_new_tab: true

# Set to `true` to replace tweet URLs with Twitter embeds.
# Note that doing so will negatively the reader's privacy
# as their browser will communicate with Twitter's servers.
embed_tweets: false

permalink:           pretty
relative_permalinks: false

plugins:
  - jekyll-last-modified-at
  - jekyll-feed

# sass:
#  sass_dir:          _sass
#  style:            :compressed

collections:
  notes:
    output: true
    permalink: /notes/:slug
  pages:
    output: true
    permalink: /:slug

defaults:
  - scope:
      path: "**/*"
    values:
      layout: "default"
  - scope:
      path: "_notes/**/*.md"
    values:
      layout: "note"
  - scope:
      path: "_pages/**/*.md"
    values:
      layout: "page"
# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
